<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,1000}}</string>
                <key>sourceSize</key>
                <string>{480,1000}</string>
            </dict>
            <key>cube.gif</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>exit_blue.gif</key>
            <dict>
                <key>frame</key>
                <string>{{209,1552},{205,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,75}}</string>
                <key>sourceSize</key>
                <string>{205,75}</string>
            </dict>
            <key>exit_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1629},{205,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,75}}</string>
                <key>sourceSize</key>
                <string>{205,75}</string>
            </dict>
            <key>help.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,1004},{436,546}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,546}}</string>
                <key>sourceSize</key>
                <string>{436,546}</string>
            </dict>
            <key>help_blue.gif</key>
            <dict>
                <key>frame</key>
                <string>{{484,439},{205,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,75}}</string>
                <key>sourceSize</key>
                <string>{205,75}</string>
            </dict>
            <key>help_grey.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,1552},{205,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,75}}</string>
                <key>sourceSize</key>
                <string>{205,75}</string>
            </dict>
            <key>logo.gif</key>
            <dict>
                <key>frame</key>
                <string>{{484,516},{141,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,118}}</string>
                <key>sourceSize</key>
                <string>{141,118}</string>
            </dict>
            <key>panel.gif</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{436,435}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,435}}</string>
                <key>sourceSize</key>
                <string>{436,435}</string>
            </dict>
            <key>record.gif</key>
            <dict>
                <key>frame</key>
                <string>{{484,636},{121,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,95}}</string>
                <key>sourceSize</key>
                <string>{121,95}</string>
            </dict>
            <key>score.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,1706},{121,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,95}}</string>
                <key>sourceSize</key>
                <string>{121,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>img.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3928f1b6a8811709762fefff9d8df788$</string>
            <key>textureFileName</key>
            <string>img.png</string>
        </dict>
    </dict>
</plist>
